.item__container{
    background-color: azure;
    width:15rem;
    height: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.item__container__image{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item__image{
    width: 200px;
    object-fit: cover;
}