@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.main__pageContainer{
background-color: rgb(67, 165, 132);
display: flex;
justify-content: center;
width: 100%;
}
.section__pageContainer{
    background-color: aqua;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
